<div class="container">
  <div id="top-banner" class="district-banner">
    <%= image_tag "Van-Phong-Quan-Ba-Dinh-Minhvu-Real", alt: "Van phong quan Ba Dinh" %>
  </div>
  <div class="main-content">
    <ul id="menu" class="nav navbar-nav list_cat">
      <li><%= link_to "Văn phòng Hà Nội", "javascript:void(0)"%></li>
      <li><%= link_to "Ba Đình", "javascript:void(0)"%></li>
      <li><%= link_to "Cầu Giấy", "javascript:void(0)"%></li>
      <li><%= link_to "Đống Đa", "javascript:void(0)"%></li>
      <li><%= link_to "Hai Bà Trưng", "javascript:void(0)"%></li>
      <li><%= link_to "Hoàn Kiếm", "javascript:void(0)"%></li>
      <li><%= link_to "Tây Hồ", "javascript:void(0)"%></li>
      <li><%= link_to "Thanh Xuân", "javascript:void(0)"%></li>
      <li><%= link_to "Từ Liêm", "javascript:void(0)"%></li>
      <li><%= link_to "VP. Quận khác", "javascript:void(0)"%></li>
    </ul>
    <div class="office-list">
      <div class="office-loop">
        <div class="row">
          <div class="col-xs-6 col-md-3 item">
            <div class="office-detail">
              <%= link_to "javascript:void(0)" do %>
                <%= image_tag "Daeha", alt: "Daeha Ba Dinh" %>
                <h3>Handi Resco Tower</h3>
                <div class="info">
                  <span class="address">Kim Mã, Ba Đình</span>
                  <span class="price">Vui lòng liên hệ</span>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 item">
            <div class="office-detail">
              <%= link_to "javascript:void(0)" do %>
                <%= image_tag "Daeha", alt: "Daeha Ba Dinh" %>
                <h3>Handi Resco Tower</h3>
                <div class="info">
                  <span class="address">Kim Mã, Ba Đình</span>
                  <span class="price">Vui lòng liên hệ</span>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 item">
            <div class="office-detail">
              <%= link_to "javascript:void(0)" do %>
                <%= image_tag "Daeha", alt: "Daeha Ba Dinh" %>
                <h3>Handi Resco Tower</h3>
                <div class="info">
                  <span class="address">Kim Mã, Ba Đình</span>
                  <span class="price">Vui lòng liên hệ</span>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 item">
            <div class="office-detail">
              <%= link_to "javascript:void(0)" do %>
                <%= image_tag "Daeha", alt: "Daeha Ba Dinh" %>
                <h3>Handi Resco Tower</h3>
                <div class="info">
                  <span class="address">Kim Mã, Ba Đình</span>
                  <span class="price">Vui lòng liên hệ</span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-3 item">
            <div class="office-detail">
              <%= link_to "javascript:void(0)" do %>
                <%= image_tag "Daeha", alt: "Daeha Ba Dinh" %>
                <h3>Handi Resco Tower</h3>
                <div class="info">
                  <span class="address">Kim Mã, Ba Đình</span>
                  <span class="price">Vui lòng liên hệ</span>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 item">
            <div class="office-detail">
              <%= link_to "javascript:void(0)" do %>
                <%= image_tag "Daeha", alt: "Daeha Ba Dinh" %>
                <h3>Handi Resco Tower</h3>
                <div class="info">
                  <span class="address">Kim Mã, Ba Đình</span>
                  <span class="price">Vui lòng liên hệ</span>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 item">
            <div class="office-detail">
              <%= link_to "javascript:void(0)" do %>
                <%= image_tag "Daeha", alt: "Daeha Ba Dinh" %>
                <h3>Handi Resco Tower</h3>
                <div class="info">
                  <span class="address">Kim Mã, Ba Đình</span>
                  <span class="price">Vui lòng liên hệ</span>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 item">
            <div class="office-detail">
              <%= link_to "javascript:void(0)" do %>
                <%= image_tag "Daeha", alt: "Daeha Ba Dinh" %>
                <h3>Handi Resco Tower</h3>
                <div class="info">
                  <span class="address">Kim Mã, Ba Đình</span>
                  <span class="price">Vui lòng liên hệ</span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="description">
      <h1>Cho thuê văn phòng quận Ba Đình</h1>
      <h2>Tổng quan toà nhà văn phòng cho thuê quận Ba Đình</h2>
      <h3>Vị trí địa lý quận Ba Đình</h3>
      <h3>Đặc điểm vị trí các tòa nhà văn phòng cho thuê quận Ba Đình</h3>
      <h2>Nguồn cung và giá thuê văn phòng khu vực quận Ba Đình</h2>
      <p><strong><a href="http://maisonreal.vn/">Dịch vụ thuê văn phòng</a>&nbsp;Maison Real – Tư vấn và&nbsp;<a href="http://maisonreal.vn/van-phong-cho-thue-ha-noi">Cho thuê văn phòng tại Hà Nội</a>&nbsp;chuyên nghiệp!</strong></p>
      <p>Hotline:&nbsp;09889.02468 |&nbsp;Email:&nbsp;<a href="mailto:info@maisonreal.vn">info@maisonreal.vn</a>&nbsp;|&nbsp;Www.MaisonReal.vn</p>
      </div>
    </div>
  </div>
</div>
