<div class="container">
  <div class="col-md-9">
    <div class="logo">
      <%= image_tag "footer-logo@2x" %>
    </div>
    <div class="footer-content">
      <div class="footer-menu">
        <ul>
          <li><%= link_to "Về MinhVuReal", "javascript:void(0)" %></li>
          <li><%= link_to "Dịch vụ cho thuê văn phòng", "javascript:void(0)" %></li>
          <li><%= link_to "Cẩm nang thuê văn phòng", "javascript:void(0)" %></li>
          <li><%= link_to "Cho thuê văn phòng Hà Nội", "javascript:void(0)" %></li>
        </ul>
      </div>
      <div class="footer-info">
        <p>CTCP Tư vấn và Dịch vụ Bất động sản Maison<br>
          A: Phòng F515A, Tầng 5, Tòa nhà Charmvit, Số 117 Trần Duy Hưng, Quận Cầu Giấy, Hà Nội.<br>
          W: Www.MaisonReal.vn<br>
          E: Info@MaisonReal.vn
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="social-widget">
      <ul>
        <li><%= link_to "javascript:void(0)", class: "btn btn-default" do %>
          <i class="fa fa-facebook"></i>
        <% end %></li>
        <li><%= link_to "javascript:void(0)", class: "btn btn-default" do %>
          <i class="fa fa-twitter"></i>
        <% end %></li>
        <li><%= link_to "javascript:void(0)", class: "btn btn-default" do %>
          <i class="fa fa-google"></i>
        <% end %></li>
        <li><%= link_to "javascript:void(0)", class: "btn btn-default" do %>
          <i class="fa fa-pinterest-p"></i>
        <% end %></li>
        <li><%= link_to "javascript:void(0)", class: "btn btn-default" do %>
          <i class="fa fa-linkedin"></i>
        <% end %></li>
      </ul>
    </div>
  </div>
</div>
